body {
	font-size: 1.5em;
	text-align: center;
}
#output {
	min-height: 3em;
	margin: 1em;
	font-size: 2em;
}

#credit {
	font-size: smaller;
	color: #666;
	margin-top: 5em;
}
textarea {  /* Source: javierjulio.github.io/textarea-autosize */
    box-sizing: border-box;
    max-height: 160px; /* optional but recommended */
    min-height: 38px;
    overflow-x: hidden; /* for Firefox (issue #5) */
}
